.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: space-between;
}

.logo {
    display: grid;
    grid-template-columns: 100px 100px;
    align-items: center;
    margin: 5px 50px 50px 200px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;  
    height: 38px;
    left: 53.55%;
    right: 0%;
    top: 13px;
    text-transform: uppercase;
    color: #333333;;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    justify-content: space-evenly;
    margin-top: 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    left: 0%;
    right: 0%;
    top: 0px;
    text-transform: uppercase;
    color: #404040;
}

nav .menu:hover {
    text-decoration:underline;
}

.main {
    display: grid;
    grid-template-rows: 50px 50px;
    justify-items: center;
    align-content: center;
    grid-gap: 20px;
    background-image: url(../images/IMAGEmaketgrid.png);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    height: 391px;
    left: calc(50% - 672px/2);
    top: 7px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.smalltext {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.81);
}

.contact {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 50px;
    padding: 70px;
    background-color: #FEFEC9;
}

.text {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 5px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #47474F;
    border-radius: 0px;
}

.button {
    width: 159px;
    height: 53px;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #47474F;
    background:#FEFEC9;
}

.how {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 100px 0px 50px 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    text-transform: uppercase;
    color: #333333;
}

.how-we-make {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 219px repeat(2, 50px);
    justify-content:center;
    grid-gap: 20px;
}

.thrive {
    display: grid;
    justify-content: center;
    padding: 50px;
    background: #F5F5F5;
}

.thrive2 {
    display: grid;
    justify-content: center;
    padding: 50px;
    background: #F5F5F5;
}

.thrive3 {
    display: grid;
    justify-content: center;
    padding: 50px;
    background: #F5F5F5;
}

.headlines1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.headlines2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.headlines3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.text-1 {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #333333;
}

.text-2 {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #333333;
}

.text-3 {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #333333;
}

.projects {
    background: #F5F5F5;
    padding: 0px 0px 100px 0px;
}

.recent-projects {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 100px 0px 50px 0px;
    padding: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    text-transform: uppercase;
    color: #333333;
}

.project {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3,384px);
    justify-content:center;
    grid-gap: 20px;
    
}

.project-1 {
    background: #FFFFFF;
}

.woods {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.photography {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.project-2 {
    background: #FFFFFF;
}

.path {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.website-photo {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.project-3 {
    background: #FFFFFF;
}

.darkness {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.website {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.project-4 {
    background: #FFFFFF;
}

.waves {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.photo-waves {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.project-5 {
    background: #FFFFFF;
}

.drops {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.drops-web {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.project-6 {
    background: #FFFFFF;
}

.ocean {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.ocean-web {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.project-7 {
    background: #FFFFFF;
}

.town {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.town-web {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.project-8 {
    background: #FFFFFF;
}

.mountain {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.mountain-web {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.project-9 {
    background: #FFFFFF;
}

.camera {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.camera-web {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.our-team {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 100px 0px 50px 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    text-transform: uppercase;
    color: #333333;
}

.team {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    justify-content:center;
    grid-gap: 20px;
}

.name-founder {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.founder {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.name-marketing {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.marketing {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.name-designer {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.designer {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.name-developer {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.developer {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.social-network-1 {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 14px);
    justify-content: center;
    grid-gap: 15px;
}

.social-network-2 {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 14px);
    justify-content: center;
    grid-gap: 15px;
}

.social-network-3 {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(5, 14px);
    justify-content: center;
    grid-gap: 15px;
}

.social-network-4 {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 14px);
    justify-content: center;
    grid-gap: 15px;
}

.comments {
    background-color: #F5F5F5;
}

.quotes {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 50px 0px 0px 0px;
    padding: 70px;
}

.commentators {
    display: grid;
    grid-template-columns: 338px 2px 338px;
    justify-content: center;
    grid-gap: 20px;
    padding: 50px;
}

.comments-1 {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 90px 70px 20px;
    grid-gap: 20px;
}

.comments-2 {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 90px 70px 20px;
    grid-gap: 20px;
}

.comment-1 {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    color: #333333;
}

.commentator-1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.comment-2 {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    color: #333333;
}

.commentator-2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.touch {
    background-image: url(../images/fon-minimal.png);
    padding: 0px 0px 100px 0px;
}

.in-touch {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    text-transform: uppercase;
    color: #333333;
}

.contacts {
    display: grid;
    grid-template-columns: repeat(3, 173px);
    justify-content: center;
    align-items: center;
    grid-gap: 70px;
}

.location {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 65px 20px 88px;
    grid-gap: 20px;
}

.communication {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 65px 20px 88px;
    grid-gap: 20px;
}

.social-networks {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 65px 20px 88px;
    grid-gap: 20px;
}

.social-net {
    display: grid;
    grid-template-rows: repeat(3, 20px);
}

.nav {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
}

.address {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #212121;
}

.mail {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
}

.email {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #212121;
}

.social {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
}

.social-net {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #212121;
}

.footer {
    display: grid;
    grid-template-rows: repeat(3, 57px) 127px;
    justify-content: center;
    background-color: #000000;
    padding: 60px;
}

.name {
    background: rgba(255, 255, 255, 0.18);
    width: 564px;
    height: 57px;
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}

.email-input {
    background: rgba(255, 255, 255, 0.2);
    width: 564px;
    height: 57px;
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}

.budget {
    background: rgba(255, 255, 255, 0.18);
    width: 564px;
    height: 57px;
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}

.textarea {
    width: 564px;
    height: 127px;
    background: rgba(255, 255, 255, 0.2);
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer-2 {
    display: grid;
    grid-template-rows: 1fr 1fr 30px;
    justify-content: center;
    align-items: center;
}

.button-2 {
    width: 210px;
    height: 53px;
    margin: 50px 0px 0px 75px;
    border: #7EC4BD;
    background: #000000;
    padding: 5px 20px;
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #8BCAC3;
}

.logo-2 {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.rights {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.4);
}